<h3> Suggest a song </h3>
  <h4> Please enter the Spotify ID of the song </h4>
  <% if @error %>
    <div class="alert alert-danger">Somebody already suggested that. Be original.</div>
    <% end %>
    <div class="well">
      <form action='/add_song' method="POST">
        <input name="spotify_id" placeholder="Spotify ID">
        <button class="btn btn-primary">Submit</button>
        </form>
        </div>