<% if current_user %>
  <p>Logged in as: <%= current_user.email %></p>
  <form action="/users/logout" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button>Log out</button>
  </form>
<% else %>
  <a href="/users/login">Login</a>
<% end %>
<h1>Welcome to Spotibetical</h1>