<div class="container">
	<h1>Login</h1>
	<p class="bg-warning"><strong>Please log in first.</strong></p>
	<% if @error %>
	<p class="bg-danger"><strong>Wrong! Try again.</strong></p>
	<% end %>	
	<form role="form" action="/users/login" method="POST">
		<div class="form-group">
			<label for="input-email">Email address</label>
			<input name="email" type="email" class="form-control" id="input-email" placeholder="Enter email address">
		</div>
		<div class="form-group">
			<label for="input-password">Password</label>
			<input name="password" type="password" class="form-control" id="input-password" placeholder="Password">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>