
<div class="container">
    <div class="col-sm-12"> 
        <table>
            <tr class="col-sm-offset-4">
                <h1>404 Not Found</h1>
                <img src="http://usvsth3m.com/wp-content/uploads/2014/12/lionel-richie-hello-flyer-602.jpg"/>
            </tr>
        </table>
    </div>
</div>

