<div class="container">
  <div class = 'row'>
    <div class= "well">
      <h2>
        <p>This Week's Playlist:
          <a href="<%=@current[1]%>"><%=@current[0]%></a>
        </p>
      </h2>
    </div>
    <% if @past_playlists.any? %>
      <h2>Past Playlists</h2>
      <ul class="list-group">
        <% @past_playlists.each do |playlist| %>
        <li class="list-group-item"><a href='<%=playlist[1]%>'><%=playlist[0]%></a>
          <%end%>
        </ul>
      </div>
    <% end %>
  </div>
