<div class="container">
  <h3> Congratulations you have add a song! </h3>
  <h2> Here it is...</h2>
  <iframe src="https.//embed.spotify.com/track<%= @new_song_id %>" width="300" height="380" frameborder="0" allowtransparency ="true"></iframe>
  <h4> Now, go check out <a href="/display">the competition</a></h4>
  </div>
