<!DOCTYPE html>
<form action="/users/profile/edit" method="POST">
  Avatar
  <input name="avatar_url">
  <button name="submit" type="submit" >Submit</button>
  <input type="hidden" name="_method" value="PATCH">
</form>